.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

body {
  background-image: url('http://latentflip.com/LearningD3/collider/bo_play.png');
  color: black;
  font-family: Arial;
  font-weight: bold;
}

.container {
  width: 800px;
  height: 600px;
  margin: 50px auto 0;
  background-color: white;
}

.mainHeader {
  padding: 40px 40px 0 40px;
}

.scoreBox {
  width: 200px;
  height: 80px;
  background-color: #cccccc;
  border-radius: 2px;
  float: right;
}

.title {
  float: left;
}

.title > h1, .title > h3 {
  margin: 0;
}

.scoreBox > h3 {
  margin: 10px 0;
}

.gameWindow {
  height: 439px;
  width: 720px;
  margin: 0 40px 40px 40px;
}
/*
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.enemy {
  height: 20px;
  width: 20px;
  -webkit-transform: translate(-10px, -10px );
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         0.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}*/